APP_NAME="M-Pesa Express Demo"
APP_ENV=local
APP_URL="http://localhost/mpesa"
APP_TIMEZONE="Africa/Nairobi"

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=mpesa_demo
DB_USERNAME=root
DB_PASSWORD=

MPESA_ENV=sandbox
MPESA_CONSUMER_KEY=your_consumer_key
MPESA_CONSUMER_SECRET=your_consumer_secret
MPESA_SHORTCODE=174379
MPESA_PASSKEY=your_mpesa_express_passkey
MPESA_INITIATOR_NAME=testapi
MPESA_CALLBACK_URL="https://your-public-url/callback"
MPESA_TRANSACTION_TYPE=CustomerPayBillOnline
MPESA_ACCOUNT_REFERENCE=INV-1001
MPESA_TRANSACTION_DESC="M-Pesa Express Payment"
