<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /mpesa/

    RewriteRule ^(app|database|vendor)(/|$) index.php [L,QSA]

    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^ - [L]

    RewriteRule ^ index.php [L,QSA]
</IfModule>
